h1{
    color: brown
}
*{
    border:solid
}
.head{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footen{
    display: flex;
    justify-content:flex-end;
}
p,h2{
    text-align: center;
}